body {
    background-color: #2A3D45;
  }
  
  #screen {
    position: absolute;
    border: 0px solid #000;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  